h2 #{__i('divs')}
	img(src='/images/pov/icon_core_div_60x45.png').floatLeft
include ../includes/paginationTop
include ../includes/filterAllOrMine

each element,i in elements
	div.floatLeft.size1
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			h5 #{element.type}
			if element.class || element.dom_id
				div.innerCont
					if element.dom_id
						span.textMini id:
						h6 #{element.dom_id}
					else if element.class
						span.textMini class:
						h6 #{element.class}
			include ../includes/listInfoBox
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
include ../includes/listCrudbox
