h2 #{__i('divs')}
	img(src='/images/pov/icon_core_div_60x45.png').floatLeft
include ../includes/paginationTop
include ../includes/filterAllOrMine

each element,i in elements
	div.floatLeft.size1
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			h5 #{element.type}
			if element.class
				div.innerCont
					span.textMini #{__i('classes')}: 
						h6 #{element.class}
			include ../includes/listInfoBox
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
include ../includes/listCrudbox
