script
	function validate_dynForm_#{counter} () {
		//- per i boolean non ha senso nessun controllo
		return true;
	}
if required
	script
		function required_dynForm_#{counter} () {
			//- per i boolean non ha senso nessun controllo
			return true;
		}
else
	script
		//- deve sempre essere presente
		function required_dynForm_#{counter} () {
			return true;
		}
.formRow
	span.adminIcon.datatypeIcon.floatLeft
		img(src='#{icon}')
	h5.formLabel #{field}:
		if required
			span.formError *
			
	//- var field = field; //??
	- var fieldValue = ( !content[field] || content[field] == '' || content[field] === undefined || content[field] == 'false' ) ? false : true;
	include ../formBoolean
	
	
	//input(id='#{field}', name='#{field}', value='#{content[field] || ""}').size2
	if description
		p #{description}
