script
	function validate_dynForm_#{counter} () {
		//- considero valida qualunque stringa non nulla
		return true;
	}
if required
	script
		function required_dynForm_#{counter} () {
			if ( !$('#'+'#{field}').val() ) {
				alert("#{field} is required");
				return false;
			}
			return true;
		}
else
	script
		//- deve sempre essere presente
		function required_dynForm_#{counter} () {
			return true;
		}
.formRow
	span.adminIcon.datatypeIcon.floatLeft
		img(src='#{icon}')
	h5.formLabel #{content.fieldNameFull}:
		if required
			span.formError *
	if content[field] && content[field][0] && content[field][0].file_name && content[field][0].file_path
		div.formSubRow.size2
			span.floatLeft #{__i('file preview')}:
			a(href='/#{content[field][0].file_path}#{content[field][0].file_name}', target='_blank', title='zoom').floatRight
				!= getImg(content[field],150,0,'imageDetail') //- nota che content[field] è un array perchè così è definito lo schema, ma poi getImg considera solo la prima immagine
			div.clear
		div.formSubRow.size2
			span.floatLeft #{__i('delete file')}:
			div.adminIcon.deleteButton.floatRight
			input(id='#{field}_delete', type='checkbox', name='#{field}_delete', value=false).floatRight
			div.clear
		input(id='#{field}', type='file', name='#{field}', value='#{content[field][0].file_name || ""}').size2
	else
		input(id='#{field}', type='file', name='#{field}', value='').size2
	
	if description
		p #{description}
