div.clear

if element.author
	.outerContMinimal
		h6  #{__i('author')}: 
		p 
			if element.author.status == 'public' || session.user_id == 'superadmin'
				a(href='/users/#{element.author._id}', title='#{__i('view')}').elementButton.buttonUsers #{element.author.name}
			else
				| private
	
.outerContMinimal
	h6  #{__i('status')}: 
	p #{__i(element.status)}
	
	
if element.created
	.outerContMinimal
		h6 #{__i('created')}: 
		p #{element.created}
	
	
.outerContMinimal
	h6 id: 
	p #{element._id}
