h5.warning #{__i('disclaimer')}
ul.textMini
	li
		span #{__i('due to heavy development on jslardo code, this site is intended for testing purpose only')}
	li
		span #{__i('everything saved on this server (models, contents, sites, pages, even users) could be deleted without any warning. this could be required by structural changes in jslardo source code, or by unappealable decision of the site owners')}
	li
		span #{__i('we take no responsibility, of any kind, on your data. just use this site for testing please')}
	li
		span #{__i('when this platform will enter in production phase, you will be warned')}
