h5.warning #{__i('disclaimer')}
ul
	li
		span #{__i('due to heavy development on jslardo code, this site is intended for testing purpose only')}
	li
		span #{__i('anything (models, contents, sites, pages, even users) saved on this server could be deleted without any warning if this is required by structural changes in jslardo source code')}
	li
		span #{__i('we take no responsibility, of any kind, on your data. just use this site for testing please')}
	li
		span #{__i('when this platform will enter in production phase, you will be warned')}
