div.headerCont
	div.header.size6
		//logo+name
		div.size1.floatLeft
			a(href='/').floatLeft
				img(src='/images/logo/main_logo.png').floatLeft
				h3.floatLeft.logoLabel jslardo
		//menu
		div.size5.floatLeft
			if session.currentPage == 'users'
				a(href='/users').floatLeft.elementButtonSelected.buttonUsers #{__i('users')}
			else
				a(href='/users').floatLeft.elementButton.buttonUsers #{__i('users')}
			if session.currentPage == 'sites'
				a(href='/sites').floatLeft.elementButtonSelected.buttonSites #{__i('sites')}
			else
				a(href='/sites').floatLeft.elementButton.buttonSites #{__i('sites')}
			if session.currentPage == 'pages'
				a(href='/pages').floatLeft.elementButtonSelected.buttonPages #{__i('pages')}
			else
				a(href='/pages').floatLeft.elementButton.buttonPages #{__i('pages')}
			if session.currentPage == 'roles'
				a(href='/roles').floatLeft.elementButtonSelected.buttonRoles #{__i('roles')}
			else
				a(href='/roles').floatLeft.elementButton.buttonRoles #{__i('roles')}
		div.clear
