div.headerCont
	div.header.size6
		//logo+name
		div.size1AndHalf.floatLeft
			a(href='/').floatLeft
				img(src='/images/logo/main_logo_50x50.png').floatLeft
				h3.floatLeft.logoLabel jslardo
		//menu
		div.floatLeft
			if session.currentPage == 'sites'
				a(href='/sites').floatLeft.elementButtonSelected.buttonSites #{__i('sites')}
			else
				a(href='/sites').floatLeft.elementButton.buttonSites #{__i('sites')}
			if session.currentPage == 'jslModels'
				a(href='/jslModels').floatLeft.elementButtonSelected.buttonJslModels #{__i('models')}
			else
				a(href='/jslModels').floatLeft.elementButton.buttonJslModels #{__i('models')}
			//-
				if session.currentPage == 'pages' || session.currentPage == 'sites' || session.currentPage == 'divs'
					a(href='/pages').floatLeft.elementButtonSelected.buttonPages #{__i('pages')}
				else
					a(href='/pages').floatLeft.elementButton.buttonPages #{__i('pages')}
				if session.currentPage == 'divs'
					a(href='/divs').floatLeft.elementButtonSelected.buttonDivs #{__i('divs')}
				else
					a(href='/divs').floatLeft.elementButton.buttonDivs #{__i('divs')}
			if session.currentPage == 'users'
				a(href='/users').floatLeft.elementButtonSelected.buttonUsers #{__i('users')}
			else
				a(href='/users').floatLeft.elementButton.buttonUsers #{__i('users')}
			//-
				if session.currentPage == 'roles'
					a(href='/roles').floatLeft.elementButtonSelected.buttonRoles #{__i('roles')}
				else
					a(href='/roles').floatLeft.elementButton.buttonRoles #{__i('roles')}
		div.clear
		//- google analytics
		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-29120605-1']);
			_gaq.push(['_setDomainName', 'weadmin.it']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
