div.paginationBox
	if pagination.currentLabel.tooltip
		h5.paginationActualResults #{ pagination.currentLabel.tooltip }
	
	if pagination.firstBtn.tooltip
		a(href='#{pagination.firstBtn.link}', title='#{pagination.firstBtn.tooltip}', alt='|&lt;&lt;').adminButton.paginationLinkFirst
	
	if pagination.prev10Btn.tooltip
		a(href='#{pagination.prev10Btn.link}', title='#{pagination.prev10Btn.tooltip}', alt='&lt;&lt;').adminButton.paginationLinkPrev10pages
	
	if pagination.prevBtn.tooltip
		a(href='#{pagination.prevBtn.link}', title='#{pagination.prevBtn.tooltip}', alt='|&lt;&lt;').adminButton.paginationLinkPrev
	
	if pagination.nextBtn.tooltip
		a(href='#{pagination.nextBtn.link}', title='#{pagination.nextBtn.tooltip}',  alt='&gt;').adminButton.paginationLinkNext
	
	if pagination.next10Btn.tooltip
		a(href='#{pagination.next10Btn.link}', title='#{pagination.next10Btn.tooltip}',  alt='&gt;&gt;').adminButton.paginationLinkNext10pages
	
	if pagination.lastBtn.tooltip
		a(href='#{pagination.lastBtn.link}', title='#{pagination.lastBtn.tooltip}',  alt='&gt;&gt;|').adminButton.paginationLinkLast

