//-
		h1 #{__i('...because lardo is good')}
		hr
		h3 
			#{__i('jslardo is a social cms')}
		hr
		p #{__i('more info on')}
			a(href='https://github.com/obliquid/jslardo', target='_blank') github
		p #{__i('created by')}
			a(href='http://obliquid.org', target='_blank') obliquid

h3
	#{__i('a social cms')}
hr
div.size2.floatLeft
	ul.rightBorder
		li
			h5 #{__i('create your models')}
			ul
				li
					span #{__i('create valid mongoose models with drag and drop gui')}
					pre.outerContMinimal.code.
						"book": {
							"title": {
								"type": "String",
								"required":"true"
							},
							"authors": [ {
								"type":"ObjectId",
								"ref":"jslmodel_4f22870d4eaa51dd0f00005e",
								"required":"false"
							} ]
						}
				li
					span #{__i('DBRef like relations (1:1 and 1:N) are supported')}
		hr
		li
			h5 #{__i('create your contents')}
			ul
				li
					span #{__i('insert contents for your models through runtime generated forms')}
		hr
		li
			h5 #{__i('create your sites')}
			ul
				li
					span #{__i('create pages from scratch with drag and drop gui')}
				li
					span #{__i('and publish your contents')}
div.size2.floatLeft
	ul.rightBorder
		li
			h5 #{__i('share what you want')}
			ul
				li
					span #{__i('every model, content, or site, can be shared with other users')}
				li
					span #{__i('or can be marked as private and no one will be able to see it')}
		hr
		li
			h5 #{__i("it's open source")}
			ul
				li
					span #{__i("jslardo cms is released under a GPL v.3 licence")}
				li
					span #{__i("so if you don't want to save your data on this server, you can set up your own server, for your own users")}
				li
					span #{__i("and since it's open source, any involvement or suggestion is appreciated")}
		hr
		li
			h5 #{__i("it's an ongoing project")}
			ul
				li
					span #{__i("expect that only a few sections of the application are completed and stable")}
				li
					span #{__i("roadmap is long, so come back sometimes")}
	
div.size2.floatLeft
	ul
		li
			h5 #{__i('how to start?')}
			ul
				li
					span #{__i('register to the site')}
				li
					span #{__i('create a model')}
				li
					span #{__i('create some contents for the model')}
				li
					span #{__i('create a site')}
				li
					span #{__i('create a page for the site')}
				li
					span *#{__i('populate page with your contents')}
			span.textMini * not yet implemented
		hr
		li
			h5 #{__i('links')}
			ul
				li
					span #{__i('jslardo source code and info on')}
						a(href='https://github.com/obliquid/jslardo', target='_blank') github
				li
					span #{__i('created by')}
						a(href='http://obliquid.org', target='_blank') obliquid
div.clear
