h3 #{__i(elementName)}
	img(src='/images/pov/icon_core_site_60x45.png').floatLeft
include ../includes/detailCrudbox
a(href='/filterBySite/#{element._id}/#{encURI('/pages/')}', title='#{__i('all pages for this site')}').floatLeft.elementButton.buttonPages #{__i('pages')}
hr
div.size4.floatLeft
	div.mainColLeft
		h1 #{element.title}
		h4
			span http://
				a(href='http://#{element.domain}', target='_blank', title='#{__i('open')}') #{element.domain}
		hr
		div.size1AndHalf.floatLeft.rightBorder
			h4 #{__i('headers')}:
			table.outerContMinimal
				tr
					td
						h6 #{__i('description')}:
					td 
						span #{element.description}
				tr
					td 
						h6 #{__i('keywords')}:
					td 
						span #{element.keywords}
		div.floatLeft.size2
			h4 #{__i('pages')}:
			each page,i in pages
				div.floatLeft.size2
					a(href='/pages/#{page._id}').elemGrid.outerCont
						if page.route != ''
							h5 #{page.route}
						else
							h5 [root]
						div.innerCont
							span.textMini #{__i('site')}: 
								h6 #{page.site.title}
						//- sovrascrivo element.status per l'infoBox
						- element.elementStatus = page.status
						include ../includes/listInfoBox
				if (i+1)%6==0
					div.clear
			a(href='/filterBySite/#{element._id}/#{encURI('/pages/')}', title='#{__i('all pages for this site')}').floatLeft.elementButton.buttonPages #{__i('all')} (#{total})
		div.clear
div.size2.floatLeft
	div.mainColRight
		include ../includes/detailCommon

div.clear