h3 #{__i(elementName)} #{__i('detail')}
hr
h1 #{element.title}
br
h4
	span http://
		a(href='http://#{element.domain}', target='_blank', title='#{__i('open')}') #{element.domain}
		
include ../includes/detailCommon

include ../includes/detailCrudbox

