script
	function validate_elementForm()
	{
		if( $('#title').val() == '' )
		{
			alert("#{__i('title is required')}");
			return false;
		}
		if( $('#domain').val() == '' )
		{
			alert("#{__i('domain is required')}");
			return false;
		}
	}


include ../includes/formHeader

form(method='post', action='/#{elementName}s/edit/#{element._id || ""}', onsubmit='return validate_elementForm()' ).size4
	h5.formLabel #{__i('title')}
		span.formError *
	input(id='title', name='title', value='#{element.title || ""}').size3
	br
	h5.formLabel  #{__i('domain')}
		span.formError *
	span http://&nbsp;
	input(id='domain', name='domain', value='#{element.domain || ""}').size3
	br
	span  #{__i('if do not have a domain yet for your site, use a subdomain of')} #{ app.jsl.config.domain }
	br
	span  #{__i('for example')}: #{__i('yourdomain')}.#{ app.jsl.config.domain }
	
	br
	h5.formLabel  #{__i('description')}
	input(id='description', name='description', value='#{element.description || ""}').size3
	br
	span #{__i('also used as metatag for this site')}
	br
	h5.formLabel  #{__i('keywords')}
	input(id='keywords', name='keywords', value='#{element.keywords || ""}').size3
	br
	span #{__i('also used as metatag for this site')}. #{__i('comma separated')}
	
	
	include ../includes/formStatus

	include ../includes/formFooter

