h3 #{__i('sites')}
	img(src='/images/pov/icon_core_site_60x45.png').floatLeft
hr
include ../includes/paginationTop
include ../includes/filterAllOrMine
include ../includes/listCrudbox

each element,i in elements
	div.floatLeft.size1
		//ok ma linka alle pagine invece che al dettaglio: a(href='/filterBySite/#{element._id}/#{encURI('/pages/')}', title='#{__i('all pages for this site')}').elemGrid.outerCont
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			h5 #{element.title} 
			div.innerCont
				span.textMini #{__i('domain')}: 
					h6 #{element.domain}
			include ../includes/listInfoBox
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
