h3(style='float:left;') #{__i('all sites')}
include ../includes/pagination
div.clear
hr
each site,i in sites
	div.floatLeft.size1
		a(href='/sites/#{site._id}').elemGrid.outerCont
			h5 #{site.title} 
			div.innerCont
				span.textMini domain: 
					h6 #{site.domain}
			div.elemGridAdminCont
				if site.status == 'private'
					div(title='#{__i('private')}').adminIcon.privateButton
	if (i+1)%6==0
		div.clear
div.clear
hr
include ../includes/pagination
if session.canCreate
	hr
	a(href='/sites/edit/new', title='#{__i('new site')}').adminButton.addButton
