h3 #{__i('sites')}
include ../includes/paginationTop
include ../includes/filterAllOrMine

each element,i in elements
	div.floatLeft.size1
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			h5 #{element.title} 
			div.innerCont
				span.textMini #{__i('domain')}: 
					h6 #{element.domain}
			div.elemGridAdminCont
				if element.status == 'private'
					div(title='#{__i('private')}').adminIcon.privateButton
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
include ../includes/listCrudbox
