h3 #{__i(elementName)}
	img(src='/images/pov/icon_core_role_60x45.png').floatLeft
include ../includes/detailCrudbox
hr
div.size4.floatLeft
	div.mainColLeft
		h1 #{element.name}
		//-
			br
			h4
				span http://
					a(href='http://#{element.domain}', target='_blank', title='#{__i('open')}') #{element.domain}
		br
		table
			tr
				td
					h6 #{__i('description')}:
				td 
					span #{element.description}
div.size2.floatLeft
	div.mainColRight
		include ../includes/detailCommon
div.clear

