.formRow
	h5.formLabel #{__i('model')}
	select(id='jslModel', name='jslModel', onchange='updateJavascript()')
		each combo_model in combo_models
			if element.jslModel == combo_model._id
				option(value='#{combo_model._id}',selected='true') #{combo_model.name}
			else
				option(value='#{combo_model._id}') #{combo_model.name}
