script
	function validate_elementForm()
	{
		if( $('#route').val() == '' )
		{
			alert("#{__i('route is required')}");
			return false;
		}
	}


include ../includes/formHeader

form(method='post', action='/#{elementName}s/edit/#{element._id || ""}', onsubmit='return validate_elementForm()' ).size4
	h5.formLabel #{__i('site')}
	select(id='site', name='site')
		each combo_site in combo_sites
			if combo_site._id == element.site
				option(value='#{combo_site._id}',selected='true') #{combo_site.title}
			else
				option(value='#{combo_site._id}') #{combo_site.title}
	br
	h5.formLabel #{__i('route')}
		span.formError *
	input(id='route', name='route', value='#{element.route || ""}').size3
	//-
		br
		h5.formLabel  #{__i('domain')}
			span.formError *
		span http://&nbsp;
		input(id='domain', name='domain', value='#{element.domain || ""}').size3
		br
		h5.formLabel  #{__i('description')}
		input(id='description', name='description', value='#{element.description || ""}').size3
		br
		h5.formLabel  #{__i('keywords')}
		input(id='keywords', name='keywords', value='#{element.keywords || ""}').size3
	
	
	include ../includes/formStatus

	include ../includes/formFooter

