h2 #{__i('pages')}
	img(src='/images/pov/icon_core_page_60x45.png').floatLeft
include ../includes/paginationTop
include ../includes/filterAllOrMine
include ../includes/filterBySite

each element,i in elements
	div.floatLeft.size1
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			if element.route != ''
				h5 #{element.route}
			else
				h5 [root]
			div.innerCont
				span.textMini #{__i('site')}: 
					h6 #{element.site.title}
			include ../includes/listInfoBox
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
include ../includes/listCrudbox
