h3 #{__i('user detail')}
hr
h1 #{user.name}
br
h4
	span [
		a(href='mailto:#{user.email}') #{user.email}
		]
br
if user.profile
	p #{user.profile}
	br
hr
h6  #{__i('status')}: 
	h5 #{user.status}
if user.created
	br
	h6 #{__i('created')}: 
		h5 #{user.created}
br
h6 id: 
	h5 #{user._id}
hr
//- a(onclick='window.history.go(-1)', title='#{__i('back')}').adminButton.backButton
a(href='/users', title='#{__i('all')}').adminButton.allButton
if session.user_id == 'superadmin' || session.user_id == user._id
	a(href='/users/edit/#{user._id}', title='#{__i('modify user')}').adminButton.modifyButton
	if user.status == 'private'
		div(title='private').adminIcon.privateButton
