script
	function validateUserForm()
	{
		if( $('#name').val() == '' )
		{
			alert('#{__i('name is required')}');
			return false;
		}
		if( $('#email').val() == '' )
		{
			alert('#{__i('email is required')}');
			return false;
		}
		if( $('#password').val() == '' )
		{
			alert('#{__i('password is required')}');
			return false;
		}
		if( $('#retype_password').val() != $('#password').val() )
		{
			alert('#{__i('retype password not matching')}');
			return false;
		}
		if( $('#retype_new_password').val() != $('#new_password').val() )
		{
			alert('#{__i('retype password not matching')}');
			return false;
		}
	}
h3 #{title}
- if (typeof msg !== "undefined" && msg == 'success' )
	hr
	h4.formSuccess #{__i('successfully saved')}!
hr
form(method='post', action='/users/#{user._id || ""}', onsubmit='return validateUserForm()' ).size4
	h4 #{__i('your profile')}
	p #{__i('email is also used as username')}
	h5.formLabel #{__i('name')}
		span.formError *
	input(id='name', name='name', value='#{user.name || ""}').size3
	br
	h5.formLabel #{__i('profile')}
		span.formError &nbsp;
	textarea(name='profile').size3 #{user.profile || ""}
	br
	h5.formLabel email
		span.formError *
	input(id='email', name='email', value='#{user.email || ""}').size3
	//- se è un nuovo utente, è obbligatorio inserire la pw
	//- se è un modify, la pw viene inserita solo per cambiarla
	if (typeof user._id === "undefined" || user._id == '' )
		br
		h5.formLabel password
			span.formError *
		input(type='password', id='password', name='password', value='#{user.password || ""}').size3
		br
		h5.formLabel #{__i('retype')} password
			span.formError *
		input(type='password', id='retype_password', name='retype_password').size3
	else
		hr
		h4 #{__i('change password')}
		p #{__i('compile this only to change password; to keep current password leave this blank.')}
			br
			| #{__i("after changing password or email, you'll be forced to login again with new credentials.")}
		br
		h5.formLabel #{__i('new password')}
			span.formError *
		input(type='password', id='new_password', name='new_password').size3
		br
		h5.formLabel #{__i('retype password')}
			span.formError *
		input(type='password', id='retype_new_password', name='retype_new_password').size3
		
	
	hr
	h5.formLabel #{__i('status')}
		span.formError *
	- if (user.status != 'private' )
		input(type='radio', name='status', value='public', checked=true) 
		span #{__i('public')}
	- else
		input(type='radio', name='status', value='public') 
		span #{__i('public')}
	- if (user.status == 'private' )
		input(type='radio', name='status', value='private', checked=true) 
		span #{__i('private')}
	- else
		input(type='radio', name='status', value='private') 
		span #{__i('private')}
	




	
	hr
	input(name='id', value='#{user._id || ""}', type='hidden')
	- if ( user._id )
		a(href='/users/#{user._id}', title='#{__i('back')}').adminButton.backButton
	- else
		a(href='/users', title='#{__i('back')}').adminButton.backButton
	input(type='submit',value='', title='#{__i('save')}').adminButton.saveButton

