h2 #{__i('users')}
	img(src='/images/pov/icon_core_role_60x45.png').floatLeft
include ../includes/paginationTop
each element,i in elements
	div.floatLeft.size1
		a(href='/#{elementName}s/#{element._id}').elemGrid.outerCont
			h5 #{element.name} 
			div.innerCont
				span.textMini email: 
					h6 #{element.email}
			include ../includes/listInfoBox
			//- non ancora implementato
				if ( mode == 'select' )
					a(title='#{__i('select')} #{__i(elementName)}', onclick='').adminButton.selectButton
	if (i+1)%6==0
		div.clear
include ../includes/paginationBottom
if session.user_id == 'superadmin'
	include ../includes/listCrudbox
	
