h3(style='float:left;') #{__i('all users')}
include ../includes/pagination
div.clear
hr
each user,i in users
	div.floatLeft.size1
		a(href='/users/#{user._id}').elemGrid.outerCont
			h5 #{user.name} 
			div.innerCont
				span.textMini email: 
					h6 #{user.email}
			div.elemGridAdminCont
				if user.status == 'private'
					div(title='#{__i('private')}').adminIcon.privateButton
			//- non ancora implementato
				if ( mode == 'select' )
					a(title='#{__i('select user')}', onclick='').adminButton.selectButton
	if (i+1)%6==0
		div.clear
div.clear
hr
include ../includes/pagination
